<div class="container">
  <div class="jumbotron">
    <h2 id="myName">Amanda Kirchner</h2>
    <p>Something clever coming soon.</p>
    <p><em>Location: </em>Minneapolis</p>
    <p><a class="btn btn-primary btn-sm" href="{{uc.user.data.html_url}}" role="button">View some code</a></p>
  </div>

  <!-- Work experience -->
  <div class="container" id="experience">
    <div class="row">
      <h2>Experience:</h2>
    </div>
    <div class="row">
      <h4>Adjunct Instructor</h4>
      <div class="row">
        <div class="col-md-6">
          <p class="location">IPR - College of Media Arts, Minneapolis, MN</p>
        </div>
        <div class="col-md-4">
          <p class="date">July 2010 - June 2017</p>
        </div>
      </div>
    </div>

    <div class="row">
      <h4>Studio Photographer</h4>
      <div class="row">
        <div class="col-md-6">
          <p class="location">Lifetouch Studios, JC Penny Portrait Studio, Roseville, MN</p>
        </div>
        <div class="col-md-4">
          <p class="date">August 2014 - October 2016</p>
        </div>
      </div>
    </div>

    <div class="row">
      <h4>Graduate Student Assistant</h4>
      <div class="row">
        <div class="col-md-6">
          <p class="location">Department of Technology - University of Iowa, Iowa City, IA</p>
        </div>
        <div class="col-md-4">
          <p class="date">August 2009 - May 2010</p>
        </div>
      </div>
    </div>

    <div class="row">
      <h4>Senior Interactive Producer</h4>
      <div class="row">
        <div class="col-md-6">
          <p class="location">IML Worldwide Inc.,  Minneapolis, MN</p>
        </div>
        <div class="col-md-4">
          <p class="date">June 2005 - July 2008</p>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <!-- Education -->
  <div class="container" id="education">
    <div class="row">
      <h2>Education:</h2>
    </div>
    <div class="row">
      <div class="col-md-5">
        <h4>Master of Arts, Film Studies</h4>
      </div>
      <div class="col-md-5">
        <p class="location">University of Iowa, Iowa City, IA</p>
      </div>
      <div class="col-md-2">
        <p class="date">May 2010</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5">
        <h4>Bachelor of Science, Visual Effects &amp; Motion Graphics</h4>
      </div>
      <div class="col-md-5">
        <p class="location">The Art Institues International Minnesota, Minneapolis, MN</p>
      </div>
      <div class="col-md-2">
        <p class="date">May 2005</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5">
        <h4>Bachelor of Arts, Physics</h4>
      </div>
      <div class="col-md-5">
        <p class="location">Carelton College, Northfield, MN</p>
      </div>
      <div class="col-md-2">
        <p class="date">June 2001</p>
      </div>
    </div>
  </div>
</div>
